/* COLORS */
/* TYPO */
/* HELPERS */
.dimmned {
  opacity: .5; }

.no-p-r {
  padding-right: 0; }

.no-p-l {
  padding-right: 0; }

.no-p-lr {
  padding-left: 0;
  padding-right: 0; }

/* GLOBALS */
.badge-special {
  background-color: #242b39;
  color: #c3cee4; }

.app-container {
  margin-top: 50px; }

/* HEADER */
/* CONTENT */
.percentage-column {
  min-height: 250px; }

.percentage-column .badge {
  margin-top: 170%;
  font-weight: 400;
  font-size: 1.2em; }

/* SIDEBARS */
/* FOOTER */
